@font-face {
    src: url(../Asserts/Fonts/Segoe\ UI.woff);
    font-family: "Segoe UI";
}

@font-face {
    src: url(../Asserts/Fonts/Segoe\ UI\ Bold.woff);
    font-family: "Segoe UI Bold";
}

@font-face {
    src: url(../Asserts/Fonts/Gotham-Medium.otf);
    font-family: "Gotham Medium";
}

@font-face {
    src: url(../Asserts/Fonts/Roboto-Medium.ttf);
    font-family: "Roboto";
}

@font-face {
    src: url(../Asserts/Fonts/Roboto-Regular.ttf);
    font-family: "Roboto-Regular";
}

a {
    text-decoration: none;
}

header {
    height: 100vh;
    width: auto;
    background-color: #007A8A;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 50px;
}

.header_container {
    width: 87%;
}

.map_photo {
    width: 840px;
    height: 662px;
    margin-top: 2px;
    position: absolute;
    left: 2px;
}

.header_top {
    height: 63px;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_top_left {
    height: 100%;
    display: flex;
    align-items: center;
}

.phone_photo {
    width: 25px;
    height: 24px;
    margin: 4px 0 0 60px;
}

.call {
    width: 132px;
    display: flex;
    justify-content: space-between;
}


.call_center {
    color: white;
    font-family: "Segoe UI Bold";
    font-size: 22px;
    margin-top: 4px;
}

.language {
    margin-left: 20px;
    z-index: 1;
}

.select {
    background-color: transparent;
    border: none;
    font-family: "Gotham Medium";
    font-size: 18px;
    color: white;
    margin-top: 5px;
}

.select>option {
    color: black;
}


.header_top_right {
    width: 201px;
    height: 51px;
    background-color: #fbc222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Gotham Medium";
    font-size: 14px;
    border-radius: 4px;
    color: black;
    margin-top: 2px;
}

.header_top_right:hover {
    background-color: orange;
}

.search_logo {
    margin-top: 4px;
    font-size: 17px;
}

.header_bottom {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.span_title {
    font-size: 36px;
    color: white;
    font-family: "Roboto";
    display: inline-block;
    margin-bottom: 15px;
    line-height: 1.1;
}

.circle {
    margin-right: 5px;
    color: #fbc222;
    font-size: 12px;
}

.span_text {
    color: white;
    font-family: "Roboto-Regular";
}

.texts {
    margin-bottom: 15px;
}

.header_bottom_right {
    width: 350px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-shrink: 0;
    text-align: center;
}


.document_text {
    font-family: "Roboto";
    font-size: 18px;
    margin-bottom: 10px;
}

.header_bottom_right_container {
    width: 260px;
    height: 75%;
}

.exc_info {
    font-size: 12px;
    font-family: "Roboto-Regular";
}

.document_qrup {
    width: 100%;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    font-family: "Roboto-Regular";
    font-size: 14px;
    padding: 10px 10px 10px 0px;
}

.inputs {
    width: 100%;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px 10px 10px 0px;
    font-family: "Roboto";
    font-size: 14px;
}

.axtar {
    width: 100%;
    height: 46px;
    background-color: #fbc222;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
}

.axtar:hover {
    background-color: orange;
}

.main_1st {
    width: auto;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}

.main_1st_container {
    width: 87%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.new_document {
    margin: 40px 0 20px 0;
    font-size: 28px;
    font-family: "Roboto";
    text-align: center;

}

.main_1st_center {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    align-content: space-between;
}

.content {
    width: 23%;
    height: 120px;
    display: flex;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.11);
    transition: all .1s ease-in-out;
    border-radius: 5px;
}

.content_bottom {
    margin-top: 20px;
}

.content_left {
    margin-left: 15px;
    margin-top: 45px;
}

.content_right {
    font-size: 13px;
    margin: 15px 0 0 10px;

}

.content_name {
    font-size: 16px;
    font-family: "Roboto";
    margin-top: 25px;
}

.content_text {
    font-family: "Roboto-Regular";
}

.content_bottom>.content_right>.content_name {
    margin-top: 30px;
}

.more {
    width: 150px;
    height: 40px;
    border: 1px solid #F25222;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    font-size: 13px;
    color: black;
    transition: 0.5s;
    font-family: "Roboto";
}

.more:hover {
    text-decoration: none;
    color: white;
    background-color: #F25222;
}

.main_2nd {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.main_2nd_container {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid darkgrey;
    flex-wrap: wrap;
}

.content_ {
    height: 250px;
    width: 33%;
    font-size: 15px;
    font-family: "Roboto";
    text-align: center;
}

.img_document {
    margin-bottom: 50px;
}

.img_document_3 {
    margin-bottom: 40px;
}

footer {
    height: 150px;
    display: flex;
    justify-content: center;
}

.footer_container {
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_left {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_right {
    width: 8%;
    display: flex;
    justify-content: space-evenly;
}

.nom {
    font-family: "Roboto";
    margin-top: 3px;
}


@media only screen and (max-width: 1280px) {

    .content {
        width: 48%;
        margin-bottom: 30px;
    }


    .content_name {
        margin-top: 30px;
    }

}




@media screen and (max-width: 959px) {

    header{
        height: auto;
    }


    .map_photo {
        display: none;
    }

    .header_top_left {
        width: 95%;
    }

    .header_top_right {
        margin-top: 20px;
    }

    .header_bottom {
        flex-wrap: wrap;
    }

    .header_bottom_right {
        width: 100%;
    }

    .header_bottom_right_container {
        width: 90%;
        text-align: center;

    }

    .content_ {
        width: 100%;
    }

    .footer_left {
        width: 100%;
        display: block;
        margin-top: 40px;
    }

    .footer_right {
        margin-top: 15px;
    }

    .poct {
        margin-top: 10px;
    }

}

@media screen and (max-width: 640px) {

    .content {
        width: 100%;
    }


}